/* CSS Document */

/*Font face*/

@font-face{
	font-family: 'Roboto',serif;
}

@font-face{
	font-family: 'Audiowide', cursive;
}

@font-face{
	font-family: 'Panton';
	src: url("../font/Panton-LightCaps.otf");
}